.form-actions {
  padding-top: 10px;
  padding-left: 3px;
  padding-right: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: transparent;
  border-top: 0px solid #e5e5e5;
  *zoom: 1;
}