@(geneSets:Vector[(leachi.GeneSet,Vector[leachi.EnrichmentResult])],
 queryForm:Form[Option[String]])

@import leachi._
@import views.html.helper._
@implicitField = @{ FieldConstructor(fieldConstructor.f) }

@main("Predefined gene classes") {



    
 @views.html.filterForm(queryForm)

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Gene classes</th>
      <th>Enriched clusters</th>
    </tr>
  </thead>
  <tbody>
  @geneSets.map{ case (geneset,enrichments) =>
	
	<tr>
      <td><a href="@routes.ClusterController.showGeneSet(java.net.URLEncoder.encode(geneset.name,"utf-8"))">@geneset.name</a></td>      
      <td>
        <span class="badge @(if(enrichments.size > 0) "badge-important") ">@enrichments.size</span>
      </td>
    </tr>

}
    
  </tbody>
</table>



    
}