@(clusters:Traversable[leachi.GeneSet], 
clusterForm:Form[(Boolean,String,String)],
geneInputForm:Form[leachi.GeneFormObject],
queryForm:Form[Option[String]])

@import views.html.helper._

@implicitField = @{ FieldConstructor(fieldConstructor.f) }


@main("Welcome") {

<header class="subhead">
<div class="row"> 
<div class="span8">

<h1>Latent Infection of T Cells by HIV
</h1>
</div>
<div class="span4">
<img src="@routes.Assets.at("images/litchi.jpg")" >
</div>
<p class="lead">This resource allows the querying of cellular responses during HIV latency and reactivation.
</p>


<p>
Primary CD4+ T cells from healthy blood donors were obtained by negative selection and magnetic separation. Cells were activated using CD3/CD28 co-stimulation in presence of IL-2. Three days post-stimulation, cells were infected with an HIV-based vector (NL4-3-&Delta;6-drEGFP/CXCR4). Forty-eight hours post-infection, cells were sorted by FACS according to GFP expression. Establishment of HIV latency was carried out on an H80 feeder cell layer. After 10 weeks, reactivation of viral transcription used pharmacological (SAHA, 5’-azacytidine, disulfiram) and immunological agents (IL-7, anti-CD3/anti-CD28 antibodies plus IL-2). Cells were analyzed for GFP expression by FACS and for transcriptome composition by RNA-Seq.
</p>
</header>
    
<section>
  <div class="row">
    <div class="span8">
      @form(routes.Application.compareConditions, 'class->"form-inline") {
          <fieldset>
          <legend>Compare Reactivating Agents</legend>

          @select(clusterForm("activator1"),GeneData.listOfActivatorNames.map(x => (x,x)), '_label -> "",'_showConstraints -> "false") 

          @select(clusterForm("activator2"),GeneData.listOfActivatorNames.map(x => (x,x)), '_label -> "",'_showConstraints -> "false") 

          @select(clusterForm("up"),List(("true","Upregulated (in first)"),("false","Downregulated (in first)")), '_label -> "",'_showConstraints -> "false") 

          <span class="help-block">Paired gene expression tests generate sets of differentially expressed genes (Dn: downregulated, Up: upregulated).</small>
          
          <div class="form-actions">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
          </fieldset>
          
      }
    </div>

  </div>
  <div class="row">

    <div class="span5">
     @form(routes.GenesController.listGenesFromForm, 'class->"form-inline") {
      <fieldset>    
              <legend>Search a custom set of genes</legend>

      @textarea(geneInputForm("idList"), '_label->"",'placeholder->"List of genes (HGNC Gene Symbol). miRNA names should be noted as: hsa-mir-[number] (eg. hsa-mir-29a)",'class->"input-xlarge", 'cols -> "20", 'rows -> "10" )

                <div class="form-actions">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
      </fieldset>


     }
    </div>

    <div class="span5">
    <legend>Browse the predefined gene sets and pathways (Keggs, GO, Reactome, HIV collections)
</legend>

     @views.html.filterForm(queryForm)

    </div>
       
  </div>
</section>

 

   

   
 
   
    
}