@(data:  Tuple2[hiv24.GeneSet,Traversable[Tuple2[hiv24.Cluster,hiv24.EnrichmentResult]]])

<h6>GeneSet @data._1.name (@data._1.dataBase) is enriched in the following clusters</h1>

 <table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Cluster</th>
      <th>log(P)</th>
      <th>Qvalue</th>
      <th>Observed in Background</th>
      <th>Observed in Cluster</th>
      <th>Expected in Cluster</th>
    </tr>
  </thead>
  <tbody>
  	@data._2.toSeq.sortBy(_._1.id).map { res =>
    <tr>
      <td><a href="@routes.Application.showCluster(res._1.id)">@res._1.name.toString</a></td>
      <td>@res._2.logP</td>
      <td>@res._2.qVal</td>
      <td>@res._2.countInBackground</td>
      <td>@res._2.countInCluster</td>
      <td>@res._2.expectedCount</td>
    </tr>
}
  </tbody>
</table>