@(genes: Traversable[leachi.Gene], imageB64: String, 
geneInputForm: Form[(String,Option[String],Option[String])],
formTarget:play.api.mvc.Call,
name:String)

@import leachi._

@import views.html.helper._
@implicitField = @{ FieldConstructor(fieldConstructor.f) }

<div style="margin-bottom:20px">
<h6>Gene expression pattern of @name</h1>

<img src="data:image/png;base64,@imageB64">


<small style="color:#666;"><b>Figure:</b> : Temporal expression patterns are displayed according to the selected conditions and comparisons. Only infected conditions are displayed, during latency as gray lines or during activation according to the color code for each drug. For individual genes, select one from the table below.</small>
</div>

 @form(formTarget,'class -> "form-inline") {

   <div >
    
    <div style="display:none;">
@inputText(geneInputForm("idList"))
@inputText(geneInputForm("clusterName"))

</div>

@select(geneInputForm("activator1"),List("AZA","DMSO","DISU","SAHA","CD3","IL7").map(x => (x,x)), '_label -> "",'_showConstraints -> "false",'onchange -> "this.form.submit()") 
@select(geneInputForm("activator2"),List("AZA","DMSO","DISU","SAHA","CD3","IL7").map(x => (x,x)), '_label -> "",'_showConstraints -> "false",'onchange -> "this.form.submit()") 

    
    

   }


</div>




   <h6>List of genes</h1>


 <table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>      
      <!-- <th>Cluster</th>       -->
    </tr>
  </thead>
  <tbody>
  	@genes.toSeq.sortBy(_.name).map { gene =>
    <tr>
      <td><a href="@routes.GenesController.listGenes(gene.name,"DMSO")">@gene.name</a></td>
      <!-- <td>
        <a href="routes.ClusterController.showCluster(GeneData.clusterByGene(gene).head.name)">GeneData.clusterByGene(gene).head.name</a>
      </td>       -->
    </tr>
}
  </tbody>
</table>

