@(data:  Tuple2[hiv24.Cluster,Traversable[Tuple2[hiv24.GeneSet,hiv24.EnrichmentResult]]])

<h6>Cluster @data._1.name is enriched in the following gene classes</h1>

 <table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>GeneSet DB</th>
      <th>Hit Count</th>
    </tr>
  </thead>
  <tbody>
  @data._2.toSeq.sortBy(_._1.name).groupBy(_._1.dataBase).map { db =>
  <tr>
    <td>@db._1</td>
    <td>@db._2.size</td>
  </tr>
}
</tbody>
</table>

 <table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>GeneSet Name</th>
      <th>GeneSet DB</th>
      <th>log(P)</th>
      <th>Qvalue</th>
      <th>Observed in Background</th>
      <th>Observed in Cluster</th>
      <th>Expected in Cluster</th>
    </tr>
  </thead>
  <tbody>
  	@data._2.toSeq.sortBy(_._1.name).map { res =>
    <tr>
      <td><a href="@routes.Application.showGeneSet(res._1.name)">@res._1.name.replace('_',' ')</a></td>
      <td>@res._1.dataBase</td>
      <td>@res._2.logP</td>
      <td>@res._2.qVal</td>
      <td>@res._2.countInBackground</td>
      <td>@res._2.countInCluster</td>
      <td>@res._2.expectedCount</td>
    </tr>
}
  </tbody>
</table>
    
