@(genes: Traversable[leachi.Gene],
 imageB64: Option[String],
 name:String,
geneInputForm: Form[leachi.GeneFormObject])

@import leachi._
@import views.html.helper._
@implicitField = @{ FieldConstructor(fieldConstructor.f) }

@main("Show Genes") {






<div style="margin-bottom:20px">
<h3>@name</h3>
<h6>Gene expression pattern</h6>

<img src="data:image/png;base64,@imageB64">
 @form(routes.GenesController.listGenesFromForm,'class->"form-inline form-horizontal") {

    
    <div style="display:none;">
@inputText(geneInputForm("idList"))

</div>


@checkbox(geneInputForm("AZA"),'onchange -> "this.form.submit()",'class->"checkbox inline") 
@checkbox(geneInputForm("DMSO"),'onchange -> "this.form.submit()",'class->"checkbox inline") 
@checkbox(geneInputForm("SAHA"),'onchange -> "this.form.submit()",'class->"checkbox inline") 
@checkbox(geneInputForm("DISU"),'onchange -> "this.form.submit()",'class->"checkbox inline") 
@checkbox(geneInputForm("CD3"),'onchange -> "this.form.submit()",'class->"checkbox inline") 
@checkbox(geneInputForm("IL7"),'onchange -> "this.form.submit()",'class->"checkbox inline")
@checkbox(geneInputForm("HIV"),'onchange -> "this.form.submit()",'class->"checkbox inline")
@checkbox(geneInputForm("Mock"),'onchange -> "this.form.submit()",'class->"checkbox inline") 


    
    

   }

<small style="color:#666;"><b>Figure:</b>Temporal expression patterns of individual genes are displayed according to the selected conditions. Multiple conditions can be selected. The default view is Mock (during latency) or DMSO (during reactivation). Expression levels can be shown in mock or infection conditions (click the corresponding box).
</small>
</div>




   <h6>List of genes</h1>



</table>
    
}