@(genes: Traversable[hiv24.Gene],
 imageB64: Option[String],
  enrichmentPerCluster: Traversable[Tuple2[hiv24.Cluster,
  Traversable[Tuple2[hiv24.GeneSet,hiv24.EnrichmentResult]]]],
enrichmentPerGeneSet: Traversable[Tuple2[hiv24.GeneSet,Traversable[Tuple2[hiv24.Cluster,hiv24.EnrichmentResult]]]],
form: Form[Tuple2[String,Option[String]]])

@import hiv24._

@main("Show Genes") {


          <ul class="nav nav-tabs">      
          @imageB64.map{ image =>
      
            <li class=" @(if (imageB64.isDefined) "active" else "" ) "><a href="#expr"  data-toggle="tab">Gene expression results</a></li>
        }
            <li class=" @(if (!imageB64.isDefined) "active" else "" ) "><a href="#enrichment" data-toggle="tab">Enrichment results</a></li>
          </ul>


        <div class="tab-content">

<div class="tab-pane @(if (!imageB64.isDefined) "active" else "" )" id="enrichment">

@enrichmentPerCluster.map{ enrch =>

@views.html.renderClusterEnrichment(enrch)

}

@enrichmentPerGeneSet.map{ enrch =>

@views.html.renderGeneSetEnrichment(enrch)

}
</div>

@imageB64.map{ image =>
<div class="tab-pane @(if (imageB64.isDefined) "active" else "" )" id="expr">  
@views.html.renderGenes(genes,image,form)
</div>
}

<!-- tab content end -->
</div>
    
}