@(genes: Traversable[leachi.Gene],
 imageB64: Option[String],
 name:String,
  enrichments: Vector[leachi.EnrichmentResult],
form: Form[(String,Option[String],Option[String])],
formtarget:play.api.mvc.Call)

@import leachi._

@main("Show Cluster") {


          <ul class="nav nav-tabs">      
          @imageB64.map{ image =>
      
            <li class=" @(if (imageB64.isDefined) "active" else "" ) "><a href="#expr"  data-toggle="tab">Gene expression results</a></li>
        }
            <li class=" @(if (!imageB64.isDefined) "active" else "" ) "><a href="#enrichment" data-toggle="tab">Enrichment results</a></li>
          </ul>


        <div class="tab-content">

<div class="tab-pane @(if (!imageB64.isDefined) "active" else "" )" id="enrichment">


@if(enrichments.size>0){
	@views.html.renderEnrichment(name,enrichments)	
}





</div>

@imageB64.map{ image =>
<div class="tab-pane @(if (imageB64.isDefined) "active" else "" )" id="expr">  
	<a class="btn btn-primary pull-right" href="@routes.ClusterController.csvCluster(name)">Download list of genes</a>
@views.html.renderGenes(genes,image,form,formtarget)
</div>
}

<!-- tab content end -->
</div>
    
}